<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lazecoding.unique.mapper.UniqueRecordMapper">
    <!--自定义某个javaBean的封装规则,使用标签为 resultMap
        type：自定义规则的Java类型
        id: 这个resultMap的唯一标识
        -->
    <resultMap type="lazecoding.unique.model.UniqueRecord" id="UniqueRecord">
        <!--指定主键列的封装规则
            id： 使用该标签，定义主键会底层有优化；当然也可以使用result。推荐使用id
            column：指定数据库中哪一列
            property：指定对应的javaBean属性
            -->
        <id column="bus_tag" property="tag"/>
        <!-- 定义普通列封装规则 -->
        <result column="max_id" property="maxId"/>
        <!-- 其他不指定的列会自动封装：但推荐写完整。 -->
        <result column="step" property="step"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="getAllTags" resultType="String">
	    SELECT bus_tag FROM unique_record
    </select>

    <update id="updateMaxId">
        UPDATE unique_record SET max_id = max_id + step WHERE bus_tag = #{tag}
    </update>

    <select id="getUniqueRecord" resultMap="UniqueRecord">
        SELECT bus_tag, max_id, step FROM unique_record WHERE bus_tag = #{tag} LIMIT 1 FOR UPDATE
    </select>

    <update id="updateMaxIdByCustomStep">
        UPDATE unique_record SET max_id = max_id + #{step} WHERE bus_tag = #{tag}
    </update>
</mapper>